@using KUSYS_Demo.Models.ViewModel
@model LoginViewModel
@{
    ViewData["Title"] = "Login Page";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/KUSYS_Demo.styles.css" asp-append-version="true" />
<div class="login-form">
    <form method="post" asp-controller="Account" asp-action="Login">
        <h2 class="text-center">Welcome to Login Page </h2>
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" asp-for="UsernameOrEmail"/>
            <span asp-validation-for="UsernameOrEmail"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input class="form-control" asp-for="Password"/>
            <span asp-validation-for="Password"></span>
            <br />
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary btn-block" />
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary"> Register </a>
        </div>
    </form>

</div>

<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
        font-size: 15px;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>